In [40]:
%matplotlib inline
import pandas as pd

# housing_sp represents housing sale prices by city. (March 2008 - March 2020)
housing_sp = pd.read_csv('../data/archive/Sale_Prices_City.csv')

# msp represents the median sale price for houses sold in the US. (July 2005 - April 2020)
msp = pd.read_csv('../data/MSPUS.csv')

In [41]:
### TIDY DATA ###

# Melting
id_vars = ["RegionID",
           "RegionName",
           "StateName",
           "SizeRank"]

housing_sp = pd.melt(frame=housing_sp, id_vars=id_vars, var_name="Date", value_name="Price")
housing_sp = housing_sp.dropna()
housing_sp = housing_sp.sort_values(ascending=True, by=["RegionID", "Date"])

In [42]:
housing_sp

        RegionID RegionName   StateName  SizeRank        Date     Price
305360      3305   Accokeek    Maryland      3393     2014-11  259000.0
309088      3305   Accokeek    Maryland      3393     2014-12  292200.0
312816      3305   Accokeek    Maryland      3393     2015-01  332400.0
316544      3305   Accokeek    Maryland      3393     2015-02  330700.0
320272      3305   Accokeek    Maryland      3393     2015-03  324800.0
...          ...        ...         ...       ...         ...       ...
532885    760887     Berlin  New Jersey      3510     2019-12  220500.0
536613    760887     Berlin  New Jersey      3510     2020-01  204800.0
540341    760887     Berlin  New Jersey      3510     2020-02  204200.0
544069    760887     Berlin  New Jersey      3510     2020-03  213000.0
3509      760887     Berlin  New Jersey      3510  Unnamed: 0    3509.0

[382441 rows x 6 columns]